extends layout

block content
    h1.col-md-12.text-center.
        Update Your User Information
    form#changeusr.text-center.col-md-12(name="changeusr",method="post",action="/changeusr")    
        table.col-md-6.col-md-offset-1(style="table-layout:fixed;width:1000px")
            thead
                each user in updateuser
                    tr
                        td.table.col-md-3.text-left(style="width:100px"). Username:
                        td.table.col-md-3.text-center(style="width:700px") 
                            input#inputUserName.form-control.text-center(type="text", value=user.username, name="username")
                            input#hiddenoid(type="hidden", name="hiddenoid", value= user._id.toHexString())
                    tr
                        td.table.col-md-3.text-left(style="width:100px"). User Email:
                        td.table.col-md-3.text-center(style="width:700px")
                            input#inputEmail.form-control.text-center(type="text", value=user.email, name="email")
        center
            button#btnSubmit.btn.btn-primary.btn-lg.btn-block.center(style="width:75%;")(type="submit") Submit!