extends layout

block content
    h1.text-center.col-md-6.col-md-offset-3.
        User List
    center    
        table.col-md-8.col-md-offset-2.table-striped
            thead
                tr
                    th.text-center Index
                    th.text-center ID
                    th.text-center Username
                    th.text-center Email
            tbody.table
                each user, i in userlist
                    tr
                        td.table.table-bordered.col-md-1.table-bordered.
                            #{i+1}
                        td.table.table-bordered.col-md-1.
                            #{user._id}
                        td.table.table-bordered.col-md-2.
                            #{user.username}
                        td.table.table-bordered.col-md-2.
                            #{user.email}
                        td.col-md-3(style='padding:10px 10px 10px 10px;')
                            form#delUser(name="deluser",method="post",action="/deluser")
                                input#inputOid(type="hidden", name="boid", value= user._id.toHexString())
                                button#btnSubmit.btn.btn-danger.btn-xl(type="submit") Delete Field
                        td.col-md-3
                            form#updateuser(name="updateuser",method="post",action="/updateuser")
                                input#inputOid(type="hidden", name="uoid", value= user._id.toHexString())
                                button#btnSubmit.btn.btn-success.btn-xl(type="submit") Update User
        br
        h1
        br
        a.col-md-8.col-md-offset-2.text-center.btn.btn-primary.btn-lg(href="http://localhost:3000/newuser") Add A New User